PORT=8000
CLIENT_URL=http://localhost:3000

DATABASE_URL=your_database_url_here

JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here

JWT_ACCESS_EXPIRATION_MINUTES=15
JWT_REFRESH_EXPIRATION_DAYS=1

JWT_RESET_PASSWORD_SECRET=your_jwt_reset_password_secret_here
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=5

REDIS_URL=your_redis_url_here
