# Transcoder Microservice
REDIS_URL=redis://localhost:6379

# MinIO / S3
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=xxx
MINIO_SECRET_KEY=xxx
MINIO_BUCKET_VIDEOS=xxx

# FFmpeg
FFMPEG_PATH=xxx

# Logging
LOG_LEVEL=info
