# Transcoder Microservice
REDIS_URL=redis://localhost:6379

# MinIO / S3
MINIO_ENDPOINT=http://localhost:9000
MINIO_ROOT_USER=xxx
MINIO_ROOT_PASSWORD=xxx
MINIO_BUCKET_VIDEOS=xxx
S3_REGION=ap-south-1

# FFmpeg
FFMPEG_PATH=xxx

# Logging
LOG_LEVEL=info
